@use "sass:color";
@use "../_variables" as *;

.home {
  // background-color: slategrey;
  height: 100%;
  max-width: 110rem;
  margin-inline: auto;
  padding-block: 4rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  // border: 1px solid salmon;

  @include responsive(Mland) {
    display: flex;
    flex-direction: column-reverse;
  }

  &-left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    &-cover {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      @include responsive(Mland) {
        align-items: center;
        width: 90%;
        margin-inline: auto;
      }
      .tag {
        display: flex;
        gap: 1rem;
        text-transform: uppercase;
        width: max-content;

        span {
          width: 1.2rem;
          aspect-ratio: 1/1;
        }
      }
    }

    &-heading {
      font-size: 6.4rem;
      // font-weight: black;
      font-weight: bolder;
    }

    &-copy {
      color: $cl-text;
      font-size: 1.8rem;
    }

    &-buttons {
      display: flex;
      gap: 6rem;
      align-items: center;

      @include respond(phone) {
        flex-direction: column;
        gap: 1.5rem;
      }
    }

    &-users {
      display: flex;
      // gap: 2rem;
      align-items: center;

      @include respond(phone) {
        flex-direction: column;
        gap: 1.5rem;
      }

      .hlu-left {
        display: flex;
        align-items: center;
        width: min-content;

        .hlu-user {
          width: 5rem;
          height: 5rem;
          border-radius: 100px;
          overflow: hidden;
          border: 3px solid white;

          transform: translateX(var(--position));
        }
      }

      .hlu-right {
        text-align: center;

        &-count {
          color: $cl-indigo;
        }
      }
    }
  }

  &-right {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;

    @include responsive(Mland) {
      margin-bottom: 2rem;
    }
    &-illustration {
      background-image: url(/illustration.png);
      background-position: center;
      background-size: cover;

      height: 90%;
      width: 90%;
      border-radius: 2rem;

      display: flex;
      align-items: center;
      justify-content: center;

      @include responsive(Mland) {
        min-height: 30rem;
        align-self: center;
      }
    }

    &-quick {
      padding: 1.5rem;
      background-color: white;
      width: max-content;
      border-radius: 1rem;

      display: flex;
      gap: 1rem;
      align-items: center;

      .hrq-left {
        span {
          width: 3rem;
          height: 3rem;
          display: grid;
          place-items: center;
          border-radius: 5px;
          background-color: $cl-indigo;
          color: white;
        }
      }

      .hrq-right {
        flex: 1;

        p {
          color: $cl-text;
        }
      }
    }
  }
}
