@use "../variables" as *;

.past {
  max-width: 80rem;
  margin-inline: auto;
  padding-block: 3rem;

  &-tests {
    margin-top: 5rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

.past-test {
  padding: 1.5rem;
  background-color: white;
  border: 1px solid $cl-border;
  border-radius: 1.5rem;

  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  font-size: 1.8rem;

  &-left,
  &-right {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1.5rem;
  }
  &-right {
    justify-content: end;
  }

  &-percentage {
    background-color: $cl-indigo-down;
    color: $cl-indigo;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    font-weight: bolder;
    font-size: 1.6rem;

    @include centerItem;
  }

  &-topic {
    p {
      font-size: 1.2rem;
    }
  }
  &-score {
    font-size: 2rem;
    font-weight: bolder;
  }

  .retake-btn {
    border-radius: 1rem;
    background-color: $cl-indigo-down;
    color: $cl-indigo;
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
  }
}
